<%- include('partials/header'); -%>
    <h1>
        Compose
    </h1>
    <form method="post" action="/compose">
        <input type="text" name="new">
        <button type="submit">Publish</button>
    </form>
<%- include('partials/footer'); -%>